.idea/
*.iml
*.iws
.target/
.sonar/
.sonarlint/

.github/
.gradle/
fluentbit/
grafana/
infra/app/
k8s/
log/
logs/
prometheus/
scripts/
sonarqube/
telegraf/

CHANGELOG.md
CODEOWNERS.md
compose.yaml
CONTRIBUTING.md
HELP.md
Jenkinsfile
LICENSE
Makefile
README.md
sonar-compose.yaml
template-service-java-springboot.postman_collection.json
